html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.banner {
    font-size: 4rem;
    text-align: center;
    background-color: greenyellow;
}

.body {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}


.sidebar {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    text-align: center;
    font-size: 1.5em;
}

.sidebar ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar li {
    padding: 1px 1.5em;
}

img {
    height: 12em;
    display: block;
    margin: 2px auto;
}

.sidebar li:hover {
    background-color: #555;
    color: white;
}

.page {
    font-size: 1.5em;
}

